PETPOOJA_USERNAME=chummuch@pinkadrakft.com
PETPOOJA_PASSWORD=Chummuch@1616

# Database Connection Variables
DB_HOST=ls-a0d9d5db2b9ca903f872a3fb74666a139738a39c.cngosk2ksv87.ap-south-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=Chummuch-DB
DB_USER=chummuchdb
DB_PASS=chummuchdb555
DB_SCHEMA=Petpooja
DB_TABLE=pp_orders